gmat/gmat/sgml/ORA/dtds/oraprod.3.1.dtd

<!-- ...................................................................... -->
<!-- ORA Production DTD 3.1, derived from ................................. -->
<!-- DocBook DTD V3.1 and ORA Production DTD 3.0 .......................... -->

<!-- ######################################################################
     # Production Modifications:
     # Allow <RefMeta> to omit <RefEntryTitle>. -crism 1999-04-08
     # Allow <RefNameDiv> to omit <RefPurpose>. -crism 1999-04-08
     # Add <ClassRef> to %link.char.class;. -crism 1999-04-09
     # Add <ClassGroup> to %local.synop.class;.  Add definitions for
     #    <ClassGroup> and children. -crism 1999-04-13
     # Add definition for <Members>. -crism 1999-04-26
     # Add Flags attribute to <FuncPrototype> -crism 1999-04-26
     # Modify <FuncPrototype> for Java: add <Throws>, allow omitted
     #    parameters. -crism 1999-04-26
     # Modify <RefEntry> to allow <RefSect1>s before <RefSynopsisDiv>.
     #    -crism 1999-04-26
     # Add <ClassSynopsis> to %refcomponent.mix. -crism 1999-04-26
     # Allow <ParamDef> and <FuncDef> to contain <Link>. -crism 1999-04-26
     # Add Prefix attribute to <Function>. -crism 1999-04-26
     # Allow <RefSect1> to omit <Title>. -crism 1999-04-30
     # Allow <ParamDef> and <FuncDef> to contain <Modifiers>. -crism
     #    1999-04-30
     # Allow <ParamDef> and <FuncDef> to contain <Type>. -crism 1999-05-18
     # Added <Acronym> and <Link> to %smallcptr.char.mix. -crism 1999-05-18
     # Allow <RefEntry> to omit <RefSect1>. -crism 1999-06-10
     # Added <Emphasis> to %smallcptr.char.mix.  Copied
     #    %local.smallcptr.char.mix; to %local.cptr.char.mix.
     #    -crism 1999-06-17
     # 
     # Old customizations IGNOREd in 3.1; delete in next version:
     # Added SpanBeg and SpanEnd attributes to <IndexTerm>
     #   This is for backwards compatability with older DocBook DTDs and 
     #   existing tools/procedures (both of which should be upgraded to
     #   the new scheme).
     # Modified Linkend attribute on most elements.
     # Made the <Book> content model exceptionally liberal
     # Added "prefix" attribute to <SystemItem> element to create well-
     #    formed URLs.
     # Added <Task> element to %divcomponent.mix and defined its children
     # Added <Cursor> to %tech.char.class;.
     # Made ID on <CO> non-required.
     # Added <ProgramReference> element to %tech.char.class;.
     # Added <Acronym> to <Replaceable>.
     # Allowed <RefEntry>s and <Sect2>s to co-exist in peace and harmony.
     # Allowed <VarListEntry> to omit <ListItem>.
     # Let <Epigraph> contain multiple <Attribution>s.
     # Allowed <Sidebar> to contain <AuthorGroup>.
     # Added Key attribute to <BiblioEntry>.
     ######################################################################  
-->

<!-- 
     Please direct all questions, bug reports, or suggestions for
     changes to:

     o Tools, O'Reilly & Associates, Inc.
       90 Sherman Street, Cambridge, MA 02140
       <tools@ora.com>
-->

<!-- ###################################################################### -->

<!-- Ignore content model for <RefMeta>.  -crism -->
<!ENTITY % refmeta.element "IGNORE">

<!-- Ignore content model for <RefNameDiv>.  -crism -->
<!ENTITY % refnamediv.element "IGNORE">

<!-- Add <ClassRef> to %link.char.class;.  -crism -->
<!ENTITY % local.link.char.class "| ClassRef">

<!-- Add <ClassGroup> to %local.synop.class;.  -crism -->
<!ENTITY % local.synop.class "| ClassGroup">

<!-- Add Flags attribute to <FuncPrototype>.  -crism -->
<!ENTITY % local.funcprototype.attrib
	"Flags		CDATA		#IMPLIED"
>

<!-- Ignore content model for <FuncPrototype>.  -crism -->
<!ENTITY % funcprototype.element "IGNORE">

<!-- Ignore content model for <RefEntry>.  -crism -->
<!ENTITY % refentry.element "IGNORE">

<!-- Add <ClassSynopsis> to %refcomponent.mix.  -crism -->
<!ENTITY % local.refcomponent.mix "| ClassSynopsis">

<!-- Ignore content models for <ParamDef> and <FuncDef>.  -crism -->
<!ENTITY % paramdef.element "IGNORE">
<!ENTITY % funcdef.element "IGNORE">

<!-- Add Prefix attribute to <Function>.  -crism -->
<!ENTITY % local.function.attrib
	"Prefix		CDATA		#IMPLIED"
>

<!-- Ignore content model for <RefSect1>.  -crism -->
<!ENTITY % refsect1.element "IGNORE">

<!-- Add <Acronym>, <Emphasis>, and <Link> to certain elements.  -crism -->
<!ENTITY % local.smallcptr.char.mix "| Acronym | Emphasis | Link">

<!-- Add <Emphasis> to certain elements.  -crism -->
<!ENTITY % local.cptr.char.mix "| Emphasis">

<![IGNORE[
<!-- Add definitions for the attributes to indexterm -->
<!ENTITY % local.indexterm.attrib "
	SpanBeg		(Y | N)		N
	SpanEnd		IDREF		#CONREF
">
]]>

<![IGNORE[
<!-- Make linkend a plural. -crism  -->
<!ENTITY % linkendreq.attrib
	"Linkend	IDREFS		#REQUIRED"
>
]]>

<![IGNORE[
<!-- Add <TASK> to %divcomponent.mix;. -crism  -->
<!ENTITY % local.divcomponent.mix "| Task">
]]>

<![IGNORE[
<!-- Turn off the <BOOK> element in the DocBook DTD. -crism  -->
<!ENTITY % book.module "IGNORE">
]]>

<![IGNORE[
<!-- Add prefix attribute to <SYSTEMITEM>. -crism  -->
<!ENTITY % local.systemitem.attrib
	"prefix		CDATA		#IMPLIED">
]]>

<![IGNORE[
<!-- Add <CURSOR> and <PROGRAMREFERENCE> to %tech.char.class;. -crism
  -->
<!ENTITY % local.tech.char.class "| Cursor | ProgramReference">
]]>

<![IGNORE[
<!-- Ignore the original definition of CO. -crism -->
<!ENTITY % co.module "IGNORE">
]]>

<![IGNORE[
<!-- Ignore the original definition of REPLACEABLE. -crism -->
<!ENTITY % replaceable.module "IGNORE">
]]>

<![IGNORE[
<!-- Ignore the original definition of SECT1. -crism -->
<!ENTITY % sect1.module "IGNORE">
]]>

<![IGNORE[
<!-- Ignore the original definition of VARLISTENTRY. -crism -->
<!ENTITY % varlistentry.module "IGNORE">
]]>

<![IGNORE[
<!-- Ignore the original definition of EPIGRAPH. -crism -->
<!ENTITY % epigraph.module "IGNORE">
]]>

<![IGNORE[
<!-- Allow <SIDEBAR> to contain <AUTHORGROUP>. -crism -->
<!ENTITY % local.sidebar.mix "| AuthorGroup">
]]>

<![IGNORE[
<!-- Add KEY attribute to <BIBLIOENTRY>. -crism -->
<!ENTITY % local.biblioentry.attrib "Key	CDATA	#IMPLIED">
]]>

<!-- allow refentries anywhere -->
<!ENTITY % sect1.element "IGNORE">
<!ENTITY % sect2.element "IGNORE">
<!ENTITY % sect3.element "IGNORE">


<!-- ###################################################################### -->
<!-- Source in the DocBook DTD -->
<!ENTITY % DocBookDTD PUBLIC "-//OASIS//DTD DocBook V3.1//EN">
%DocBookDTD;



<!-- ###################################################################### -->

<!-- simplify content models of sects and allow refentries anywhere -->

<!ELEMENT Sect1 - O (Sect1Info?, (%sect.title.content;),
		(%divcomponent.mix;)*, 
		(refentry | Sect2 | SimpleSect)*, 
                (%nav.class;)*)
		%ubiq.inclusion;>

<!ELEMENT Sect2 - O (Sect1Info?, (%sect.title.content;),
		(%divcomponent.mix;)*, 
		(refentry | Sect3 | SimpleSect)*, 
                (%nav.class;)*)
		%ubiq.inclusion;>

<!ELEMENT Sect3 - O (Sect1Info?, (%sect.title.content;),
		(%divcomponent.mix;)*, 
		(refentry | Sect4 | SimpleSect)*, 
                (%nav.class;)*)
		%ubiq.inclusion;>



<!-- New definition for <RefMeta> allows omitted <RefEntryTitle>.  -crism -->
<!ELEMENT RefMeta - - (RefEntryTitle?, ManVolNum?, RefMiscInfo*)
		%beginpage.exclusion;>

<!-- New definition for <RefNameDiv> allows omitted <RefPurpose>.  -crism -->
<!ELEMENT RefNameDiv - O (RefDescriptor?, RefName+, RefPurpose?, RefClass*,
		(Comment|%link.char.class;)*)>

<!-- <ClassRef> is a reference to a class.  -crism -->
<!ELEMENT ClassRef - O EMPTY>
<!ATTLIST ClassRef
		%common.attrib;
		%xref.role.attrib;
		%local.xref.attrib;
		package		CDATA		#REQUIRED
		class		CDATA		#REQUIRED
>

<!-- <ClassGroup> is a set of <ClassSynopsis>es.  -crism -->
<!ELEMENT ClassGroup - - (ClassSynopsis | ClassGroup)+>
<!ATTLIST ClassGroup
		%common.attrib;
>

<!-- <ClassSynopsis> is a synopsis for a Java class.  -crism -->
<!ELEMENT ClassSynopsis - - (Modifiers, ClassName, Extends*,
		Implements*, (ClassGroup* | Members*))>
<!ATTLIST ClassSynopsis
		%common.attrib;
		Keyword		CDATA		#IMPLIED
>

<!-- <Modifiers> lists modifiers for a Java class.  -crism -->
<!ELEMENT Modifiers - - (#PCDATA)>

<!-- <Implements> is a list of links to other classes.  -crism -->
<!ELEMENT Implements - - (Link+)>

<!-- <Extends> has a single link to another class.  -crism -->
<!ELEMENT Extends - - (Link+)>

<!-- <Members> is a list of the members of a class.  -crism -->
<!ELEMENT Members - - (Title, (FuncPrototype | MemberGroup)*)>

<!-- <MemberGroup> is a way of grouping <FuncPrototype>s in a
     <Members> list.  -crism -->
<!ELEMENT MemberGroup - - ((FuncPrototype|ClassSynopsis)+)>

<!-- <ClassMember> is a member of a class.  -crism -->
<!ELEMENT ClassMember - - (Modifiers, ClassName)>
<!-- was this... may need to change it back.  -crism
<!ELEMENT ClassMember - - (Modifiers, ClassName, ArgumentList?)> -->

<!-- <FuncPrototype> needs to include <Throws>.  -crism -->
<!-- <FuncPrototype> has omissible arguments.  -crism -->
<!ELEMENT FuncPrototype - O ((FuncDef, (Void | VarArgs | ParamDef+)?,
		Throws?) | ClassSynopsis)>

<!-- <Throws> takes a <Link> to another class.  -crism -->
<!ELEMENT Throws - - (Link+)>

<!-- <RefEntry> can have <RefSect1>s before the <RefSynopsisDiv> or
     omit <RefSect1> altogether.  -crism -->
<!ELEMENT RefEntry - O (DocInfo?, RefMeta?, (Comment|%link.char.class;)*,
		RefNameDiv, ((RefSect1+, (RefSynopsisDiv, RefSect1*)?) |
		(RefSynopsisDiv, RefSect1*))) %ubiq.inclusion;>

<!-- <ParamDef> and <FuncDef> can contain <Link>, <Modifiers>, and
     <Type>. -crism -->
<!ELEMENT ParamDef - - ((#PCDATA 
		| Replaceable 
		| Parameter 
		| FuncParams
		| Link
		| Modifiers
		| Type)*)>
<!ELEMENT FuncDef - - ((#PCDATA 
		| Replaceable 
		| Function
		| Link
		| Modifiers
		| Type)*)>

<!-- <RefSect1> can omit <Title>.  -crism -->
<!ELEMENT RefSect1 - O (RefSect1Info?, (%refsect.title.content;)?,
		(((%refcomponent.mix;)+, RefSect2*) | RefSect2+))>

<![IGNORE[
<!-- Add our own definition for the <BOOK> element -->
<!ENTITY % local.book.attrib "">
<!ENTITY % book.role.attrib "%role.attrib;">
<!ELEMENT Book - O ((%div.title.content;)?, BookInfo?, Dedication?,
		(Glossary|Bibliography|Preface|(%chapter.class;)|Reference
		|Part|(%appendix.class;)|(%index.class;)|ToC|LoT)*)
		+(%ubiq.mix;)>
<!ATTLIST Book	
		--FPI: Preferred formal public ID of book--
		FPI		CDATA		#IMPLIED
		%label.attrib;
		%status.attrib;
		%common.attrib;
		%book.role.attrib;
		%local.book.attrib;
>
]]>

<![IGNORE[
<!-- Definition for <TASK> and children. -crism  -->
<!ELEMENT Task - - ((%sect.title.content;)?, TaskInfo,
		(%component.mix;)*)>
<!ATTLIST Task
		%common.attrib;
>
<!ELEMENT TaskInfo - - (%component.mix;)*>
]]>

<![IGNORE[
<!-- Definition for <CURSOR>. -crism  -->
<!ELEMENT Cursor - - (%para.char.mix;)*>
<!ATTLIST Cursor
		%common.attrib;>
]]>

<![IGNORE[
<!-- New definition of <CO>. -->
<!ENTITY % local.co.attrib "">
<!-- CO is a callout area of the LineColumn unit type (a single character 
     position); the position is directly indicated by the location of CO. -->
<!ENTITY % co.role.attrib "%role.attrib;">
<!ELEMENT CO - O EMPTY>
<!ATTLIST CO
		%label.attrib; --bug number/symbol override or initialization--
		%linkends.attrib; --to any related information--
		%common.attrib;
		%co.role.attrib;
		%local.co.attrib;
>
]]>

<![IGNORE[
<!ENTITY % programreference.role.attrib "%role.attrib;">
<!ENTITY % local.programreference.attrib "">
<!-- Definition of <PROGRAMREFERENCE>. -crism -->
<!ELEMENT ProgramReference - O EMPTY>
<!ATTLIST ProgramReference
		filename	CDATA	#REQUIRED
		name		CDATA	#IMPLIED
		%common.attrib;
		%programreference.role.attrib;
		%local.programreference.attrib;
>
]]>

<![IGNORE[
<!-- Redefinition of <REPLACEABLE> to include <ACRONYM>. -crism -->
<!ENTITY % local.replaceable.attrib "">
<!ENTITY % replaceable.role.attrib "%role.attrib;">
<!ELEMENT Replaceable - - ((#PCDATA 
		| %link.char.class; 
		| Optional
		| %base.char.class; 
		| %other.char.class; 
		| InlineGraphic
		| Acronym)+)>
<!ATTLIST Replaceable
		--
		Class: Type of information the element represents; no
		default
		--
		Class		(Command
				|Function
				|Option
				|Parameter)	#IMPLIED
		%common.attrib;
		%replaceable.role.attrib;
		%local.replaceable.attrib;
>
]]>

<![IGNORE[
<!-- Modified to allow <REFENTRY> and <SECT2> to commingle. -crism -->
<!ENTITY % local.sect1.attrib "">
<!ENTITY % sect1.role.attrib "%role.attrib;">
<!ELEMENT Sect1 - O (Sect1Info?, (%sect.title.content;), (%nav.class;)*,
		(((%divcomponent.mix;)+, 
		(((%refentry.class;) | Sect2)* | SimpleSect*))
		| ((%refentry.class;) | Sect2)+ | SimpleSect+), (%nav.class;)*)
		+(%ubiq.mix;)>
<!ATTLIST Sect1
		--
		Renderas: Indicates the format in which the heading should
		appear
		--
		Renderas	(Sect2
				|Sect3
				|Sect4
				|Sect5)		#IMPLIED
		%label.attrib;
		%status.attrib;
		%common.attrib;
		%sect1.role.attrib;
		%local.sect1.attrib;
>
]]>

<![IGNORE[
<!-- Modified to allow optional <LISTITEM>. -crism -->
<!ENTITY % local.varlistentry.attrib "">
<!ENTITY % varlistentry.role.attrib "%role.attrib;">
<!ELEMENT VarListEntry - O (Term+, ListItem?)>
<!ATTLIST VarListEntry
		%common.attrib;
		%varlistentry.role.attrib;
		%local.varlistentry.attrib;
>
]]>

<![IGNORE[
<!-- Modified to allow multiple <ATTRIBUTION>s. -crism -->
<!ENTITY % local.epigraph.attrib "">
<!ENTITY % epigraph.role.attrib "%role.attrib;">
<!ELEMENT Epigraph - - (Attribution*, (%para.class;)+)>
<!ATTLIST Epigraph
		%common.attrib;
		%epigraph.role.attrib;
		%local.epigraph.attrib;
>
]]>

<![IGNORE[
<!-- local entities -->
<!ENTITY % oraents	PUBLIC "-//ORA//ENTITIES ORA Entities//EN">
<!ENTITY % orachars     PUBLIC "-//ORA//ENTITIES orachars//EN">
%orachars;
%oraents;
]]>

<!-- EOF -->
